@keyframes textMotion {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
  }
 

  body {
    background-color:#DFDFDF;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
}


  
    
  
 

 
  
  
  
  
  
  .navbar{
    background-color:#DFDFDF;
    
  }
  .nav-item{
      
    padding-right: 55px;
    font-family: 'Roboto', sans-serif;
  }