.custom-button {
    background-color: black;
    border-color: black;
  }
  #btn{margin-left:618px}
    
    .card-img-top{
      width:500px;
    }
  
  .card{
    float: left;

   margin-bottom: 20px; /* Increase the bottom margin */
 }
  .work{
    height: 200px;
    padding-block: 23px;
  }
  
  
  
  .mb-3 {
    padding-left: 350px;
    padding-right: 350px;
  }
  
  #btn {
    margin-left: 618px;
  }
  
  .card-img-top {
    width: 100%; 
  }
  
  .custom-button {
    background-color: black;
    border-color: black;
  }

  
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}




#box1
{
  background: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 4px;
    box-shadow: 0 8px 6px -6px #555;

}

  
  body {
  background-color:#DFDFDF;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
font-family: 'Roboto', sans-serif;
}
.navbar {
    background-color: #DFDFDF;
    border-bottom: 1px solid #dee2e6;
    font-family: 'Roboto', sans-serif;
  }
  .top{
    background-color:#DFDFDF;
  }
  .mb-3{
    background-color:#DFDFDF;
  }
  .navbar-brand {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    padding-left: 55px;
    
  }
  .nav-item{
    
    padding-right: 55px;
    font-family: 'Roboto', sans-serif;
  }



  
  body {
      background-color:#DFDFDF
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  