.post {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.post img {
  max-width: 40%;
  height: 300px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: "#DFDFDF";
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#name {
  padding-left: 500px;
  padding-top: 30px
}

#name1 {
  padding-left: 618px;
  padding-top: 17px
}