.navbar-nav.ml-auto {
    margin-left: auto;
         
}
.nav-link {
    margin-right: 20px;
    
  }
  
  .btn-primary {
    background-color: blue;
    border-color: black;
  }
  .navbar{
    padding-bottom: 10px;
  }
  .body{
    height: 80%;
  }
  .bottom{
    padding-top: 15PX;
  }
  #head{
    font-family: sans-seriff;
  }
  #about{
    font-family: cursive;
    font-size: 17px;
    padding-left: 5px;
    padding-top: 10px;
  }
  #servit{
    padding-top: 7px;
    
  }
  .card{
    float: left;

   margin-bottom: 20px; /* Increase the bottom margin */
 }
  .work{
    height: 200px;
    padding-block: 23px;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .post {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    width: 50%;  
    float: left;
  }
  
  .post img {
    max-width: 100%; 
    height: auto;
  }
  .post {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    float: left;
    width: 30%;
  }
  
  .post img {
    max-width: 100%;
    height: auto;
  }
  
  .mb-3 {
    padding-left: 350px;
    padding-right: 350px;
  }
  
  #btn {
    margin-left: 618px;
  }
  
  .card-img-top {
    width: 100%; 
  }
  
  .custom-button {
    background-color: black;
    border-color: black;
  }
  